

<div class="container">
    <h1>Stupid Coaching</h1>
    <form action="/answer">
        <div class="form-group p-15 m-15">
            <label for="coach">Ask your coach anything:</label>
            <input type="text" id="ask" name="ask" value="<%= params[:ask] %>">
            <input type="submit" id="Ask" class="btn btn-primary" value="Ask">
        </div>
    </form>
</div>

